.welcome-page {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Ensure the height covers the viewport */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  .header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .header h1 {
    font-size: 2.5em;
    margin: 0;
  }
  
  .main {
    flex-grow: 1;
    padding: 40px;
    text-align: center;
  }
  
  .intro {
    margin-bottom: 40px;
  }
  
  .intro h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .intro p {
    font-size: 1.2em;
  }
  
  .auth-options {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .login-button, .signup-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  .login-button:hover, .signup-button:hover {
    background-color: #45a049;
  }
  
  .footer {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
  }
  